@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

html {
  font-size: 62.5%;
}

body {
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}
