/**------ Plano ------**/
.plano {
  position: relative;
  padding: 80px;
  border: 1px solid #95a4a5;

  border-radius: 15px;

  font-size: 1.4rem;
}

.plano--mais-popular::after {
  padding: 0 10px;
  position: absolute;

  top: -10px;
  left: -10px;

  background-color: #c20;
  color: #fff;

  line-height: 2.8em;
  font-size: 0.7142em;

  content: "MAIS POPULAR";
}

.plano__cabecalho {
  margin: -10px;
  margin-bottom: 0;

  border-radius: 15px 15px 0 0;

  background-color: #95a4a5;
  color: #fff;

  text-align: center;
  line-height: 2.5;

  font-weight: normal;
  font-size: 2em;
}

.plano__preco {
  margin: 20px 0;

  text-align: center;
  font-size: 2em;
}

.plano__carateristicas {
  padding: 0;
  margin: 20px 0;

  font-size: 1em;

  list-style: none;
}
.plano__carateristicas > li {
  text-align: center;
}

.plano__rodape {
  text-align: center;
}
/**------ Fim de Plano ------**/

/**------ Serviço ------**/

.servicos {
  padding-bottom: 5px;
}

.servico__box--ultima-caixa {
  padding-bottom: 100px;
}

.servico__box {
  text-align: center;
  border-radius: 30px;
  background-color: #fff;
  padding: 5px 5px;
}

@media (max-width: 742px) {
  .servico__box {
    margin-bottom: 25px;
  }
}

/*.servico__box > img {
  margin-top: 20px;
  width: 60%;
  border-radius: 600px;
}*/

.img_producao {
  margin-top: 20px;
  margin-bottom: 12px;
  width: 300px;
  border-radius: 600px;
}

.img_drone {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 600px;
}

.servico__box > span > ul {
  text-align: center;
  list-style-type: none;
}

.servico__box > span {
  text-align: center;
}

/**------ Fim de Serviço ------**/

/**------ botão ------**/
.botao {
  display: inline-block;
  padding: 0.8em 1.2em;

  background-color: #bbb;
  color: #fff;
  border: none;

  line-height: normal;
  font-size: 1em;
  text-decoration: none !important;
  border-radius: 10px 10px 10px 10px;
}

.botao:hover,
.botao:focus {
  background-color: #aaa;
  color: #fff;
}

.botao--assinar,
.botao--login {
  background-color: #460404;
  color: #fff;
}

.botao--assinar:hover,
.botao--assinar:focus,
.botao--login:hover,
.botao--login:focus {
  background-color: #a31414;
  color: #fff;
}

.botao--chamada {
  background-color: #860a0a;
  color: #fff;
}

.botao--chamada:hover,
.botao--chamada:focus {
  background-color: #990707;
  color: #fff;
}

/**------ Fim do botão ------**/

/**------ Chamada ------**/
.chamada {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: right;
}

.chamada__titulo {
  margin: 0;

  color: #fff;

  font-size: 2em;
  line-height: 0.3;
  text-shadow: 2px 1px #313131;
}

.chamada__subtitulo {
  /*margin: 45px 0;*/

  color: #fff;

  font-size: 2em;
  text-shadow: 2px 1px #313131;
}

.chamada__acao {
  font-size: 1em;
  padding-top: 45px;
}
.chamada__centro {
  margin: 0;
  padding-bottom: 40px;
  color: #fff;

  font-size: 3em;
  font-weight: 700;
  line-height: 0.3;
  text-shadow: 2px 1px #313131;
  text-align: center;
}

@media (min-width: 992px) {
  .chamada {
    padding-left: 10%;
    padding-right: 10%;

    font-size: 2.2rem;
  }
}

/**------ Fim da Chamada ------**/

/**------ Depoimento ------**/
.depoimento {
  font-size: 1.2rem;
}

.depoimento > h2 {
  color: #fff;

  text-align: center;
  font-size: 2em;
  text-shadow: 2px 1px #313131;
}

@media (min-width: 992px) {
  .depoimento {
    padding-left: 5%;
    padding-right: 5%;

    font-size: 2rem;
  }
}

.depoimento > blockquote {
  position: relative;
  margin: 0;
  padding: 0 3px;

  text-align: center;
  font-size: 1em;
}

.depoimento > blockquote::before {
  position: absolute;
  left: -10px;
  top: -0.35em;
  color: #ccc;

  font-size: 8em;

  content: "\201C";
}

.depoimento__autor {
  margin-top: 15px;

  text-align: center;

  font-size: 1em;
}

.depoimento__autor > img {
  width: 230px;
  height: 230px;

  border-radius: 50%;
}

/**------ Fim do Depoimento ------**/

/**------ Inicio do Quem Somos ------**/

.quem-somos {
  background-color: black;
  opacity: 0.8;
  text-align: center;
  border-radius: 20px;
  padding: 80px 20px;
}

/**------ Fim do Quem Somos ------**/

/**------ Navegação ------**/

.navegacao {
  content: "";
}

.navegacao__menu {
  float: right;
}

/**------ Fim da Navegação ------**/

/**------ Botao Chaveador ------**/
.botao-chaveador {
  width: 24px;
  height: 24px;

  border: 0;

  background: none;
  background-image: url("../images/bars.png");

  outline: none;
}

@media (min-width: 992px) {
  .botao-chaveador {
    display: none;
  }
}

/**------ Fim do Botao Chaveador ------**/

/**------ Menu ------**/

.menu {
  margin: 0;

  font-size: 1.4rem;

  list-style: none;
}

@media (max-width: 991px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    display: none;
    width: 200px;
    padding: 20px;

    background-color: #fff;
    border-right: 1px solid #eee;
  }

  .menu--display-mobile {
    display: block;
  }

  .menu__item {
    display: block;

    line-height: 3;
  }

  .menu__item--botao {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .menu__item {
    display: inline-block;

    padding-right: 20px;
  }

  .menu__item:last-of-type {
    padding-right: 0;
  }
}

/**------ Fim do Menu ------**/

/**------ Titulo do Formulário ------**/
.titulo-formulario {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;

  border-bottom: 1px solid #ccc;

  font-size: 2.6rem;
  font-weight: normal;
  color: #ffffff;
}
/**------ Fim Titulo do Formulário ------**/

/**------ Grupo Entrada ------**/

.grupo-entrada {
  margin: 15px;
  padding-bottom: 10px;
}

.grupo-entrada > label {
  display: block;
}

.campo {
  display: block;
  width: 100%;
  margin-bottom: 15px;

  height: 2.6em;

  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;

  background-color: #fff;

  font-size: 1.4rem;
}

.campo--textarea {
  height: 10em;
}

.link {
  text-decoration: none;
  color: #6d047a;
  font-weight: bold;
}

.link:hover,
.link:focus {
  color: #53055d;
  text-decoration: none;
}

.contato-whatsapp {
  text-align: center;
}
