.layout-cabecalho {
  height: 60px;
  line-height: 60px;
  width: 100%;
  border-bottom: 2.5px solid #470202;
  background-color: #cccccc;
}

.layout-cabecalho--home {
  position: fixed;
  /* width: 300px; */

  top: 0;
  left: 0;
  bottom: 0;

  z-index: 99999999;

  background-color: #fff;
}

/*.layout-cabecalho img {
    margin-top: 7px;
}*/

.layout-servicos,
.layout-contato,
.layout-localizacao {
  background-color: #313131;
}

.layout-servicos,
.layout-contato {
  padding: 80px 0;
}

.layout-localizacao {
  position: relative;
  right: 0;
  left: 0;
  padding: 0;
  height: 450px;
}

.layout-localizacao > iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

.layout-quem-somos {
  padding: 80px 0;
  background-image: url("../images/produtora.jpg");
  background-size: cover;
  color: #fff;
}

.layout-planos {
  padding: 80px 0;
}

@media (max-width: 749px) {
  .layout-planos .row > div:not(.ultima-coluna) {
    margin-bottom: 40px;
  }
}

.layout-chamada {
  margin-top: 60px;
  padding: 80px 0;

  background-image: url("../images/filmmaker.png");
  background-size: 100% 420px;
  background-repeat: no-repeat;
}

.layout-depoimento {
  padding: 40px 0;
  background-color: #e7e7e7;
}

.layout-assinatura {
  padding: 40px;

  font-weight: bold;
}

.layout-portifolio {
  padding: 40px;
  background-color: #161414;
}

.layout-contato {
  padding: 20px;
  background-color: #525050;
}

.layout-rodape {
  padding: 10px 0;
  width: 100%;

  background-color: #131313;
  color: #fff;
  text-align: center;
}
